<Proxy balancer://{{ nombre_cluster }}>

    BalancerMember http://{{ node1 }}:{{ port1 }}/

    BalancerMember http://{{ node2 }}:{{ port2 }}/
</Proxy>

<VirtualHost *:80>
  ProxyPass / balancer://{{ nombre_cluster }}/
  ProxyPassReverse / http://{{ nombre_cluster }}/

  ServerName {{ server }}
  ServerAdmin {{ hostmaster }}
  DocumentRoot /var/www/{{ sitio }}/html
  CustomLog /var/log/apache2/{{ sitio }}_access.log combined
  ErrorLog /var/log/apache2/{{ sitio }}_error.log
  <Directory /var/www/{{ sitio }}/html>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
</VirtualHost>
