<VirtualHost *:80>
    <Proxy balancer://{{ nombre_cluster }}>
        BalancerMember http://{{ centos }}:{{ puerto1 }}
        BalancerMember http://{{ ubuntu }}:{{ puerto2 }}

        Require all granted
    </Proxy>

    ProxyPreserveHost on
    ProxyPass /balancer-manager !
    ProxyPass / balancer://{{ nombre_cluster }}/

    <Location "/balancer-manager">
        SetHandler balancer-manger
        Require ip {{ red_autorizada}}
    </Location>

</VirtualHost>
